
html, body {
    box-sizing: border-box;
}
@import "bourbon";

*, *:after, *:before {
    box-sizing: border-box;
}

body {
@include display(flex);
@include align-content(center);
    background-color: #3fb0ac;
    color: #353535;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}